<p id="notice"><%= notice %></p>
<% @user.events.each do |event| %>
  <div>
    <%= event.location %>
    <%= event.date %>
    <%= event.description %>
    <% if event.host == current_user %>
      <%= link_to 'Edit', edit_event_path(event) %>
      <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<% Event.all.each do |event| %>
  <% if Appointment.confirmed?(event, @user) %>
    <%= link_to event.description, "/event/#{event.id}" %>
  <% end %>
  <br>
<% end %>

<% Event.all.each do |event| %>
  <% if Appointment.confirmed?(event, status = false, @user) %>
    <%= link_to event.description, "/events/#{event.id}" %>
  <% end %>
  <br>
<% end %>

<% if @user == current_user %>
  <%= link_to 'Edit profile', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back to events', root_path %>
