<p id="notice"><%= notice %></p>
<% @user.events.each do |event| %>
  <div>
    <%= event.location %>
    <%= event.date %>
    <% if event.host == current_user %>
      <%= link_to 'Edit', edit_event_path(event) %>
      <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit profile', edit_user_path(@user) %> |
<%= link_to 'Back to events', root_path %>
