<h3> Upcoming Events </h3>
<% @upcoming_events.each do |event| %>
  <div>
    <%= render "events/event_info", event: event%>
  </div>
<% end %>

<% if @user == current_user %>

  <div>
    <h3> Invitations </h3>
    <% if @user.invited_events.empty? %>
      <div class="text-muted font-italic">Nobody is invited yet!</div>
    <% end %>

    <div>
      <% @user.invited_events.each do |event| %>
        <%= render "events/event_info", event: event%>
        <%= link_to "I'm going", appointments_path({attendee_id: current_user.id, event_id: event.id, status: 'confirmed'}), method: :post, data: { confirm: 'Are you sure?' } %>

        <br>
      <% end %>
    </div>
  </div>

<% end %>

<div>
  <h3> Past Events </h3>
  <%= @user.appointments.past_accepted %>
</div>

<%= link_to 'Back to events', root_path %>
