<div>
  <%= event.title %>
  <%= event.location %>
  <%= event.date %>
  <%= event.description %>
  <%= event.host.username %>
  <br>
  <%= link_to 'Show', event %>
  <% unless !current_user.invitable?(event.id) || event.host == current_user %>
    <%= link_to "I'm going", appointments_path({attendee_id: current_user.id, event_id: event.id}), method: :post, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <% if event.host == current_user %>
    <%= link_to 'Edit', edit_event_path(event) %>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
