<div>
  <div>
    <%= render "events/event_info", event: @event, user: current_user %>
  </div>

  <div>
    <strong>Confirmed</strong>
    <% if @event.confirmed_users.empty? %>
      <div class="text-muted font-italic">Nobody has confirmed yet!</div>
    <% end %>
    <% @event.confirmed_users.each do |user| %>
      <div>
        <%= link_to user.username, '/users/#{user.id}' %>
      </div>
    <% end %>
  </div>

  <div>
    <strong>Not Confirmed</strong>

    <% if @event.invited_users.empty? %>
      <div class="text-muted font-italic">Nobody is invited yet!</div>
    <% end %>

    <% @event.invited_users.each do |user| %>
      <div>
        <%= link_to user.username, '/users/#{user.id}' %>
      </div>
    <% end %>
  </div>

  <br>

  <strong>Invite friends</strong>
  <br>

  <% if @event.invitable_users(current_user).empty? %>
    <div class="text-muted font-italic">There are no friends to invite</div>
  <% end %>

  <% @event.invitable_users(current_user).each do |attendee| %>
    <%= link_to "Invite #{attendee.username}", appointments_path({:attendee_id => attendee.id, :event_id => @event.id}), :method => 'post' %>
    <br>
  <% end %>

  <br>

  <br>
  <% if @event.host == current_user %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Cancel', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', events_path %>
</div>
