<p id="notice"><%= notice %></p>

<h1>Events</h1>

<div>
  <strong> Hosted by
    <%= link_to @event.host.username, "/users/#{@event.host.id}" %>
  </strong>
  <br>
  <strong>Where?</strong>  <%= @event.location %>
  <br>
  <strong>When?</strong> <%= @event.date %>
  <p>
    <strong>What?</strong>
    <br>
    <%= @event.description %>
  </p>
  <p>
    <strong>Who is coming?</strong>
    <br>
    <% User.all.each do |attendee| %>
      <% if Appointment.confirmed?(@event, attendee) %>
        <%= link_to attendee.username, "/users/#{attendee.id}" %>
      <% end %>
      <br>
    <% end %>
    <strong>Not Confirmed</strong>
    <br>
  <% User.all.each do |attendee| %>
    <% if Appointment.confirmed?(@event, status = false, attendee) %>
      <%= link_to attendee.username, "/users/#{attendee.id}" %>
    <% end %>
    <br>
  <% end %>

  <br>

  <strong>Invite friends</strong>
  <% User.all.each do |attendee| %>
    <% unless Appointment.exists?(@event, attendee) %>
      <%= link_to "Invite #{attendee.username}", appointments_path({:attendee_id => attendee.id, :event_id => @event.id}), :method => 'post' %>
    <% end %>
  <% end %>

  <br>

  <br>
  <% if @event.host == current_user %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', events_path %>
</div>

