<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light mb-4'>
      <a class="navbar-brand" href="#">Members Only</a>
      <ul class="nav navbar-nav ml-auto flex-row">
        <li class='nav-item'>
          <% if user_signed_in? %>
            <button class="btn btn-primary mr-1">
              <%= link_to('Log out', destroy_user_session_path, method: :delete, class: "text-white text-decoration-none")  %>
            </button>
          <% end %>
        </li>
        <li class='nav-item'>
          <% if !user_signed_in? && controller_name != 'sessions' %>
            <button class="btn btn-primary mr-1">
              <%= link_to('Log In', new_user_session_path, class: "text-white text-decoration-none")  %>
            </button>
          <% end %>
        </li>
        <li class='nav-item'>
          <% if !user_signed_in? && controller_name != 'registrations' %>
            <button class="btn btn-primary ml-1">
              <%= link_to('Sign Up', new_user_registration_path, class: "text-white text-decoration-none")  %>
            </button>
          <% end %>
        </li>
        <% if user_signed_in? && controller_name != 'users' %>
          <li class='nav-item'>
            <button class="btn btn-primary ml-1">
              <i class="fa fa-user-circle-o text-white mr-1"></i>
              <%= link_to(current_user.username, current_user, class: "text-white text-decoration-none")  %>
            </button>
          </li>
        <% end %>
      </ul>
    </nav>

    <% flash.each do |type, msg| %>
      <p class="notice alert-primary p-2 pl-4" ><%= msg %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
